

#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

#hero div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-size: 1.5rem;
}

#hero h2 {
    font-size: 2rem;
}

#hero button {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0 0 0;
}

#hero button a {
    padding: 0.5rem 1rem;
}

#hero img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-top: 1rem;
    border-radius: 5%;
}

@media (prefers-color-scheme: light) {
	#hero img {
		filter: invert(1);
		transition: .5s filter;
	}

	#hero img:hover {
		filter: none;
	}
}

#about {
    min-height: 100vh;
    background: var(--bg-2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

#contact {
    padding: 2rem;
    background: var(--bg-1);
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

#contact ul li {
    margin: 1rem;
    width: calc(50% - 2rem);
}

#contact button a {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

#contact button,
#contact button a {
    width: 100%;
    display: block;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

@media (max-width: 1024px) {
    #hero h2 {
        font-size: 1.5rem;
    }

    #hero button a {
        padding: 0.5rem;
    }
}

@media (max-width: 860px) {
    #hero {
        flex-direction: column-reverse;
    }

    #hero div:first-child {
        padding: 1rem;
    }
}

@media (max-width: 500px) {
    #contact ul li {
        width: 80%;
    }

    #contact ul li:first-child {
        margin-top: 2rem;
    }

    #contact button a {
        padding: 0.5rem;
    }
}