
/* VARIABLES */
:root {
    --bg-1: #111;
    --bg-2: #000;
    --text: #EEE;
    --color-1: #1C4;
    --color-2: #228;
    --font-1: "Noto Sans", Verdana, sans-serif;
    --font-2: "Ubuntu Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-1: #AAA;
        --bg-2: #EEE;
        --text: #0A0A0A;
        --color-1: #228;
        --color-2: #1C4;
    }
}

body {
    min-height: 100vh;
    width: 100vw;
    color: var(--text);
    font-family: var(--font-1);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

a {
    color: var(--color-1);
    padding: 1px;
    border-radius: 4px;
}

a:hover {
    text-decoration: underline;
}

button {
    font-size: 18px;
    appearance: none;
    border: none;
    background: none;
}

button > a {
    display: block;
    color: var(--text);
    background: var(--color-2);
    border: 2px var(--bg-2) solid;
    transition: .5s;
    transition-property:  background, color, border;
}

button:hover > a {
    text-decoration: none;
    color: var(--color-1);
    border: 2px var(--color-1) solid;
    background: var(--bg-2);
}

header, main, section, footer {
    width: 100%;
    background: var(--bg-1);
}

header {
    background: var(--bg-2);
    box-shadow: 0px 1px var(--bg-1);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    padding: 0 5px;
    background: var(--color-1);
    color: var(--bg-2);
    border-radius: 4px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    padding: 3px 5px;
}

main {
    margin-top: 60px;
}

@media (max-width: 470px) {
    header {
        height: 50px;
    }

    .logo {
        font-size: 30px;
    }

    main {
        margin-top: 50px;
    }
}

footer {
    padding: 3% 20px;
    background: var(--bg-2);
}