/* VARIABLES */
:root {
    --bg-1: #000;
    --bg-2: #111;
    --text: #EEE;
    --color-1: #1C4;
    --color-2: #228;
    --font-1: "Noto Sans", Verdana, sans-serif;
    --font-2: "Ubuntu Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-1: #EEE;
        --bg-2: #FFF;
        --text: #111;
        --color-1: #11e;
        --color-2: #0f6;
    }
}

body {
    min-height: 100vh;
    color: var(--text);
    background: var(--bg-2);
    font-family: var(--font-1);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin: .5rem 0;
}

p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

a {
    color: var(--color-1);
    padding: 0.2rem;
    border-radius: 4px;
    text-decoration: none;
}

a:hover,
a:focus{
    text-decoration: underline;
}

.button {
    display: block;
    text-align: center;
    background: var(--color-2);
    border: 1px solid var(--color-1);
    color: var(--text);
    padding: 0.5rem 1rem;
    transition: background 0.2s linear,
                color  0.2s linear;
}

.button:hover {
    background: var(--bg-1);
}

header, main, section, footer {
    width: 100%;
    background: var(--bg-2);
}

header {
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1000;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-1);
    border-bottom: var(--bg-2) 1px solid;
}

.logo {
    padding: 0.5rem;
    color: #EEE;
    background: var(--color-1);
    border-radius: 4px;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav li {
    padding: 0.5rem 0;
}

main {
    margin-top: 60px;
}

@media (max-width: 470px) {
    header {
        height: 50px;
    }

    .logo {
        font-size: 1.25rem;
    }

    main {
        margin-top: 50px;
    }
}

footer {
    padding: 1rem;
    background: var(--bg-1);
}
