.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: .3rem 1rem;
    justify-content: space-between;
    background: var(--bg-2);
    border-bottom: var(--bg-1) 1px solid;
}

.header h1 {
	text-align: center;
	font-size: 3em;
}

.main {
	text-align: center;
	padding: 10em .5em;
}

.go-back {
	display: inline;
	font-size: 1.5em;
}

.footer {
	position: absolute;
	bottom: 0;
}
