

.footer {
    padding: 5vh 5%;
    background: #000;
    color: #FFF;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--bg-3);
    background: rgba(20, 20, 20, 0.9);
}

.hero {
	min-height: 100vh;
	padding-top: 30vh;
}

.horiz-scroll {
    padding-bottom: 1rem;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}

section {
    padding: 1rem;
}
